---
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Page from "../../components/Page.astro";
import { getAbout } from "../../lib/strapi";

const about = await getAbout();
console.log(about);
---

<Page title={about?.title || "About"} description={about?.title || "About"}>
  {about && (
    <>
      <h1 class="text-4xl font-bold mb-6">{about.title}</h1>
      <div class="strapi-content">
        <BlocksRenderer content={about.content} />
      </div>
    </>
  )}
</Page>
