---
import Page from "../../components/Page.astro";
import PostsList from "../../components/PostsList.astro";
import TopicsList from "../../components/TopicsList.astro";
import type { Topic } from "../../interfaces/strapi";
import { getTopics, getPosts } from "../../lib/strapi";

export async function getStaticPaths() {
  const topics = await getTopics();
  return topics.map((topic: Topic) => ({
    params: { slug: topic.documentId },
    props: topic,
  }));
}

type Props = Topic;

const topic = Astro.props;
const posts = await getPosts({ topics: { documentId: { $eq: topic.documentId } } });
---

<Page title="Welcome!" description="">
  <div>
    <h1 class="text-3xl my-2"> Posts related to <u>{topic.name}</u>:</h1>
    <PostsList posts={posts} />
  </div>
</Page>
