---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getPosts } from "../../lib/strapi";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = await getPosts();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body  class="bg-slate-400">
    <Header />
    <main>
      <section>
        <ul class="flex gap-10">
          {
            posts.map((post) => (
                <li>
                  <a href={`/blog/${post.documentId}/`}>
                    <h4 class="title">{post.title}</h4>
                    <p class="date">
                      <FormattedDate date={new Date(post.publication_date)} />
                    </p>
                  </a>
                </li>
              ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
