---
import Page from "../../components/Page.astro";
import PostsList from "../../components/PostsList.astro";
import TagsList from "../../components/TagsList.astro";
import type { Post, Tag } from "../../interfaces/keystone";
import fetchApi, { getCollection } from "../../lib/keystone";

export async function getStaticPaths() {
  const { tags } = await fetchApi({
    queryGraphQL: `
              query Query {
                tags(where: {posts: {some : {published: {equals: true}} }}) {
                id
                name 
                posts(where: {published: {equals : true }}) {
                id
                author {
                    name
                }
                content {
                    document
                }
                title
                pubDate
                published
                description
                tags{
                    id
                    name
                  }
                }
                }
            } 
      `,
  });
  return tags?.map((tag : Tag) => ({
    params: { slug: tag.id },
    props: tag,
  }));
}

type Props = Tag;

const tag = Astro.props;
---

<Page title="Welcome!" description="">
  <div>
    <h1 class="text-3xl my-2"> Posts related to <u>{tag.name}</u>:</h1>
    <PostsList posts={tag.posts ?? []} />
  </div>
</Page>
