---
import Page from "../components/Page.astro";
import { getPosts, getTopics } from "../lib/strapi";
import type { Post, Topic } from "../interfaces/strapi";
import PostsList from "../components/PostsList.astro";

const posts = await getPosts();
const topics = await getTopics();
---

<Page title="Welcome!" description="">
  <div>
    <PostsList posts={posts} />
  </div>
</Page>
