---
import Page from "../components/Page.astro";
import { getCollection } from "../lib/keystone";
import type { Post, Tag } from "../interfaces/keystone";
import FormattedDate from "../components/FormattedDate.astro";
import PostsList from "../components/PostsList.astro";
import TagContainer from "../components/TagContainer.astro";

const posts = (await getCollection("post")) as Post[];
const tags = (await getCollection("tag")) as Tag[];
---

<Page title="Welcome!" description="">
  <div>
    <div>
      <h1 class="text-3xl mt-2">Full Stack Developer</h1>
      <p class="text-lg mt-2">
        I'm Telecomunications Engineer, that pivoted into Software Development.
      </p>
    </div>

    <h1 class="text-3xl my-2">Some posts...</h1>
    <div class="flex">
      <div>
        <h4 class="text-xs my-2">Filter by topic</h4>
        <div class="flex items-center lg:w-40">
          {tags.map((tag) => <TagContainer tag={tag} />)}
        </div>
      </div>
      <PostsList posts={posts} />
    </div>
  </div>
</Page>
