---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Welcome!"
  description="A little about me."
  pubDate={new Date("July 30 2023")}
>
  <p>
    Hello, my name is Barti! I'm a Full Stack software developer located in Paraguay. My journey
    into the world of technology began when I started my engineering degree in
    Telecommunications. Out of curiosity, I started into learning about Linux
    systems during my early years at the University.
  </p>
  <p>
    As I progressed through my engineering degree, I discovered my true passion
    for software development. In the last semesters of my studies, I decided to
    focus solely on focus into honing my skills in this field. By late 2021, all my efforts
    paid off when I landed my first full-time job as a Full Stack developer, and
    since then, there's been no looking back!
  </p>
  <p>
    I'm incredibly passionate about creating innovative solutions and constantly
    expanding my knowledge in the ever-evolving world of technology.
  </p>

</Layout>
