---
import Page from "../components/Page.astro";
import { getPosts, getTopics } from "../lib/strapi";
import type { Post, Topic } from "../interfaces/strapi";
import PostsList from "../components/PostsList.astro";

const posts = await getPosts();
const topics = await getTopics();
---

<Page title="Welcome!" description="">
  <div>
    <div>
      <p class="text-lg my-2 text-center">
        I'm Telecomunications Engineer, that pivoted into Software Development.
      </p>
    </div>

    <PostsList posts={posts} />
  </div>
</Page>
