---
import type { Topic } from '../interfaces/strapi';
interface Props{
    tag: Topic
}


const { tag } = Astro.props;
---

<a href={`/tags/${tag.documentId}`}>
<span class=" text-xs border-2 p-1 mx-1 rounded-sm">{tag.name}</span>
</a>